* {
    font-family: Helvetica, Arial, sans-serif
}

// table headers
th {
    span {
        color: black;
        font-size: 1.3em;
    }
}

.ganancia {
    color: #1DB059;
    font-weight: bold;
}

.perdida {
    color: red;
    font-weight: bold;
}